* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: 'Merienda';
}

.containerBox {
  height: 870px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.mainBox{
    width: 50%;
    background-color: red;
}
